{% extends "base.html" %}
{% block add_css %}
    <link rel="stylesheet" href="/static/vendor/toastr/css/toastr.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Layout</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Blank</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">购物车</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <thead>
                                <tr>
                                    <th style="width:50px;">
                                        <div class="form-check custom-checkbox checkbox-success check-lg me-3">
                                            <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th><strong> </strong></th>
                                    <th><strong>商品信息</strong></th>
                                    <th><strong>商品单价</strong></th>
                                    <th><strong>数量</strong></th>
                                    <th><strong>总价</strong></th>

                                    <th><strong></strong></th>
                                </tr>
                                </thead>
                                <tbody id="good_list">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
{% block add_js %}
    <script src="/static/vendor/toastr/js/toastr.min.js"></script>
    <script>
        var data = {};
        $.post('/getCartGood/', data, function (json) {
            if (json.code == 0) {
                var html = "";
                console.log(JSON.stringify(json));
                var good_list = json.good_list;
                console.log(JSON.stringify(good_list));
                for (var i = 0; i < good_list.length; i++) {
                    var good = good_list[i];
                    html = html + "<tr>";
                    html = html + "<td>";
                    html = html + "<div class=\"form-check custom-checkbox checkbox-success check-lg me-3\">";
                    html = html + "<input type=\"checkbox\" class=\"form-check-input\" id=\"customCheckBox2\" required=\"\">";
                    html = html + "<label class=\"form-check-label\" for=\"customCheckBox2\">";
                    html = html + "</label>";
                    html = html + "</div>";
                    html = html + "</td>";
                    html = html + "<td>";
                    html = html + "<img src=\""+good.main_image+"\" class=\"rounded-lg me-2\" width=\"120\" alt=\"\"style=\"aspect-ratio: 1;\">";
                    html = html + "</td>";
                    html = html + "<td>";
                    html = html + "<div class=\"d-flex align-items-center\">";
                    html = html + "<span class=\"w-space-no\">";
                    html=html+good.good_name;
                    html = html + "</span>";
                    html = html + "</div>";
                    html = html + "</td>";
                    html = html + "<td>";
                    html=html+good.good_price;
                    html = html + "</td>";
                    html = html + "<td>";
                    html=html+good.num;
                    html = html + "</td>";
                    html = html + "<td>";
                    html = html + "<div class=\"d-flex align-items-center\">";
                    html = html + "<i class=\"fa fa-circle text-success me-1\">";
                    html = html + "</i>";
                    html=html+good.num*good.good_price;
                    html = html + "</div>";
                    html = html + "</td>";
                    html = html + "<td>";
                    html = html + "<div class=\"d-flex\">";
                    html = html + "<a href=\"#\" class=\"btn btn-primary shadow btn-xs sharp me-1\">";
                    html = html + "<i class=\"fas fa-pencil-alt\">";
                    html = html + "</i>";
                    html = html + "</a>";
                    html = html + "<a href=\"#\" class=\"btn btn-danger shadow btn-xs sharp\">";
                    html = html + "<i class=\"fa fa-trash\">";
                    html = html + "</i>";
                    html = html + "</a>";
                    html = html + "</div>";
                    html = html + "</td>";
                    html = html + "</tr>";
                    console.log(html);

                }
                console.log(html);
                document.getElementById("good_list").innerHTML=html;

            }
        });


    </script>
{% endblock %}

